<head>
</head>

<body>
  <h1>Request sent</h1>
  <h2> Your current bookings for this property are </h2>
  <div>
  <ul>
      <% @current_space_bookings.each do |booking| %>
        <li>Start date: <% start = booking.start_date %>
     <%= start.to_s.first(10) %>,
     End date: <%endy =  booking.end_date %>
     <%= endy.to_s.first(10) %>, Space id: <%= booking.space_id %>, Status: <%= booking.confirmation %>
        </li>
      <% end %>
    </ul>
    <br>
    <br>
    <a id="button" href="/homepage">Return to homepage</a> 
  </div>
</body>