<head>
</head>

<body>
  <h1>Request sent</h1>
  <h2> Your current bookings for this property are </h2>
  <div>
  <ul>
      <% @current_space_bookings.each do |booking| %>
        <li>Start date: <%= booking.start_date %>, End date: <%= booking.end_date %>, Space id: <%= booking.space_id %>, Status: <%= booking.confirmation %>
        </li>
      <% end %>
    </ul>
    <a id="button" href="/homepage">Return to homepage</a> 
  </div>
</body>