<!DOCTYPE html>
<html>
  <head>
    <title>Fireworks BnB</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel='icon' href='fireworks.png' type='image/png' />
    <link href="https://fonts.googleapis.com/css?family=Neucha|Spartan&display=swap" rel="stylesheet">
</head>
<body>
    <div id="container">
    <header> 
    <h1><a id="banner" href="/">Fireworks BnB</a></h1>
    </header>
    <div id="content">
      <%= yield %>
    </div>
    <footer>
    Week 6 @ <a href="https://makers.tech/hire/" target="_blank">Makers Academy</a>
    <div id="f2"> <a href="https://github.com/EWright212" target="_blank">Emily</a>,
    <a href="https://github.com/DavidStewartLDN" target="_blank">David</a>, 
    <a href="https://github.com/hansa-lallu" target="_blank"> Hansa</a>,
    <a href="https://github.com/Mrtly" target="_blank"> Myrtle</a></div>
    </footer>
  </div>
</body>
</html>
