 <div>
 	<h1>Your Bookings</h1>
   	<% @users_bookings.each do |booking| %>
     <li>Start date: <% start = booking.start_date %>
     <%= start.to_s.first(10) %>,
     End date: <%endy =  booking.end_date %>
     <%= endy.to_s.first(10) %> ,
      Space id: <%= booking.space_id %>, Status: <%= booking.confirmation %> </li>
     <% end %>
     </div>
     <div>
     <br>
     <br>
     <br>
      <a id="button" href="/homepage">Return to homepage</a> 
     </div>

