 <div>
 	<h1>Your Bookings</h1>
   	<% @users_bookings.each do |booking| %>
     <li>Start date: <%= booking.start_date %>, End date: <%= booking.end_date %>, Space id: <%= booking.space_id %>, Status: <%= booking.confirmation %> </li>
     <% end %>
      <a id="button" href="/homepage">Return to homepage</a> 
</div>
