<head>
</head>

  <h1>Login</h1>
   <h2>Please enter your account details</h2>
   <div>
   <form action="/login/validate" method="POST">
 	<input type="string" name="username" placeholder="Username" />
 	<input type="string" name="password" placeholder="Password" />
     <input type="submit" value="Log in" />
   </form>
   </div>
 </body>