<form action="/signup" method="POST">
	<input type="string" name="username" placeholder="username" />
	<input type="string" name="password" placeholder="password" />
    <input type="submit" value="Log in" />
</form>
