<div>
  <h1>Request Booking</h1>
  <h2>Please enter your requested dates</h2>
</div>


<form action="/save_booking" method="POST">

<label for="start_date">Start date:</label>
<input type="date" id="start_date" name="start_date"
         min="2020-02-01" max="2020-12-31">

<label for="end_date">End date:</label>
<input type="date" id="end_date" name="end_date"
         min="2020-02-01" max="2020-12-31">

<input id="button" type="submit" value="Request Dates" />

 </form>