<div>
  <h1>Request Booking</h1>
  <h2>Please enter your requested dates</h2>
   
  <form action="/save_booking" method="POST">
 	  <input type="string" name="start_date" placeholder="Start Date" />
 	  <input type="string" name="end_date" placeholder="End Date" />
    <input id="button" type="submit" value="Request Dates" />
  </form>
</div>