<head>
</head>

  <h1>Sign Up</h1>
   <h2>Please enter your details</h2>
   <div>
   <form action="/login/validate" method="POST">
 	<input type="string" name="username" placeholder="Email address" />
 	<input type="string" name="password" placeholder="Password" />
     <input type="submit" value="Sign up" />
   </form>
   </div>
 </body>